@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Black.woff2') format('woff2'),
  url('./fonts/SFRounded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Bold.woff2') format('woff2'),
  url('./fonts/SFRounded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Heavy.woff2') format('woff2'),
  url('./fonts/SFRounded-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Light.woff2') format('woff2'),
  url('./fonts/SFRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Medium.woff2') format('woff2'),
  url('./fonts/SFRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Regular.woff2') format('woff2'),
  url('./fonts/SFRounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Semibold.woff2') format('woff2'),
  url('./fonts/SFRounded-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Ultralight.woff2') format('woff2'),
  url('./fonts/SFRounded-Ultralight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('./fonts/SFRounded-Thin.woff2') format('woff2'),
  url('./fonts/SFRounded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

