@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_fonts";
:root {
  --font-family: "SFRounded", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
  --third-family: "SF Pro", sans-serif;
  --font3: "SF Compact Display", sans-serif;
}

body {
  @apply bg-primary
  //background: var(--bg-primary);
}

.wrapper {
  padding: 0 20px;
}

.page {
  &-prev {
    position: absolute;
    top: 16px;
    left: 10px;
  }

  &-skip {
    position: absolute;
    top: 19px;
    right: 16px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: right;
    color: #fff;
    text-transform: capitalize;
  }

  &-header {
    position: fixed;
    padding-bottom: 40px;
    z-index: 1;

    .wrapper {
      position: relative;
      z-index: 3;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% - 40px);
      @apply bg-primary;
      top: 0;
      left: 0;
      z-index: 0;

    }

    &__svg {
      width: 100%;
      bottom: 5px;
      position: absolute;
    }
  }

  &-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;

    &-big {
      font-family: var(--font-family);
      font-weight: 900;
      font-size: 32px;
      line-height: 112%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #fff;
    }
  }

  &-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.01em;
    color: #fff;
  }

  &-text {

  }

  &-body {
    padding-bottom: 115px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      &-inner {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-button {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 115px;
    //background:  linear-gradient(180deg, rgba(91, 130, 255, 0) 0%, #5a81ff 74.5%, #5a81ff 100%);
    svg {
      position: absolute;
      width: 100%;
      height: 100%;

      rect,
      path {
        width: 100%;
      }
    }

    &__inner {
      height: 115px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 36px;
      position: relative;
      z-index: 1;

      .btn {
        transition: all 0.3s ease-in-out;


      }
    }
  }
}

.btn {
  &-white {
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    text-align: center;
    color: #5b82ff;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;

    &:active {
      transform: scale(0.95);
    }
    &.disabled-class{
      opacity: 0.5;
      pointer-events: none;
    }

  }
}

.language {
  &-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 45px);
      height: 1px;
      bottom: 0;
      right: 0;
      background-color: rgba(#FFFFFF, 0.1);
    }

    input {
      display: none;

      &:checked + .language-item-label {
        .language-checked svg {
          opacity: 1;
        }
      }
    }

    &-label {
      display: flex;
      align-items: center;

      &:active .language-text {
        opacity: 0.3; /* Прозрачность 30% при нажатии */
      }
    }
  }

  &-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }

  &-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 353%;
    letter-spacing: 0.07em;
    color: #fff;
    transition: 0.3s;

  }

  &-checked {
    svg {
      opacity: 0;
    }

    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.info-page {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bottom {
  }
}

.page-checkbox {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__item {
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 12px 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    color: #fff;

    input {
      display: none;

      &[type='checkbox'] + .page-checkbox__item-label .page-checkbox__checked {
        border-radius: 6px;
      }

      &:checked + .page-checkbox__item-label .page-checkbox__checked {
        background: #66DC7B;
        border-color: #66DC7B;

        svg {
          opacity: 1;
        }
      }
    }
    &-emoji{
      font-size: 14px;
      line-height: 1.2;
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
    }

    &-text {
      flex: 1;
    }
  }

  &__checked {
    width: 24px;
    height: 24px;
    border: 2px solid rgba(#fff, 0.5);
    border-radius: 50%;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      opacity: 0;
      transition: all 0.3s;
    }
  }
}