@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_fonts";
:root {
  --font-family: "SFRounded", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
  --third-family: "SF Pro", sans-serif;
  --font3: "SF Compact Display", sans-serif;
}

body {
  @apply bg-primary
  //background: var(--bg-primary);
}

.wrapper {
  padding: 0 20px;
}

.page {
  &-prev {
    position: absolute;
    top: 16px;
    left: 10px;
  }

  &-skip {
    position: absolute;
    top: 19px;
    right: 16px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: right;
    color: #fff;
    text-transform: capitalize;
  }

  &-header {
    position: fixed;
    padding-bottom: 40px;
    z-index: 1;
    width: 100%;
    max-width: 393px;

    .wrapper {
      position: relative;
      z-index: 3;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% - 40px);
      @apply bg-primary;
      top: 0;
      left: 0;
      z-index: 0;

    }

    &__svg {
      width: 100%;
      bottom: 5px;
      position: absolute;
    }
  }

  &-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;

    &-big {
      font-family: var(--font-family);
      font-weight: 900;
      font-size: 32px;
      line-height: 112%;
      letter-spacing: -0.01em;
      text-align: center;
      color: #fff;
    }
  }

  &-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.01em;
    color: #fff;
  }

  &-text {

  }

  &-body {
    padding-bottom: 115px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
    &-white{
      background: #fff;
      max-width: 100%;
      .info-page{
        max-width: 393px;
        width: 100%;
        margin: 0 auto;
      }
    }

    &-full {
      padding-bottom: 0;
    }

    &-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;

      &-inner {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-button {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 115px;
    max-width: 393px;
    margin: 0 auto;
    //background:  linear-gradient(180deg, rgba(91, 130, 255, 0) 0%, #5a81ff 74.5%, #5a81ff 100%);
    img {
      position: absolute;
      width: 100%;
      height: 100%;

      rect,
      path {
        width: 100%;
      }
    }

    &__inner {
      height: 115px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 36px;
      position: relative;
      z-index: 1;

      .btn {
        transition: all 0.3s ease-in-out;


      }
    }
  }
}
.step-container{
  max-width: 393px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  &-white {
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    text-align: center;
    color: #5b82ff;
    height: 50px;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;

    &:active {
      transform: scale(0.95);
    }

    &.disabled-class {
      opacity: 0.5;
      pointer-events: none;
    }

  }

  &-blue {
    border-radius: 15px;
    background: #5b82ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    height: 57px;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
text-transform: capitalize;
    &:active {
      transform: scale(0.95);
    }

    &.disabled-class {
      opacity: 0.5;
      pointer-events: none;
    }

  }

  &-black {
    border-radius: 15px;
    padding: 14px 0px;
    width: 100%;
    height: 50px;
    background: #262626;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.language {
  &-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 45px);
      height: 1px;
      bottom: 0;
      right: 0;
      background-color: rgba(#FFFFFF, 0.1);
    }

    input {
      display: none;

      &:checked + .language-item-label {
        .language-checked svg {
          opacity: 1;
        }
      }
    }

    &-label {
      display: flex;
      align-items: center;

      &:active .language-text {
        opacity: 0.3; /* Прозрачность 30% при нажатии */
      }
    }
  }

  &-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }

  &-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 353%;
    letter-spacing: 0.07em;
    color: #fff;
    transition: 0.3s;

  }

  &-checked {
    svg {
      opacity: 0;
    }

    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.info-page {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-start {
      flex-direction: column;
      justify-content: flex-start;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 310px;
      text-align: center;
    }
  }

  &__bottom {
  }
}

.page-checkbox {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__item {
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 12px 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    color: #fff;

    input {
      display: none;

      &[type='checkbox'] + .page-checkbox__item-label .page-checkbox__checked {
        border-radius: 6px;
      }

      &:checked + .page-checkbox__item-label .page-checkbox__checked {
        background: #66DC7B;
        border-color: #66DC7B;

        svg {
          opacity: 1;
        }
      }
    }

    &-emoji {
      font-size: 14px;
      line-height: 1.2;
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
    }

    &-text {
      flex: 1;
    }
  }

  &__checked {
    width: 24px;
    height: 24px;
    border: 2px solid rgba(#fff, 0.5);
    border-radius: 50%;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      opacity: 0;
      transition: all 0.3s;
    }
  }
}

.login {
  &-go {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    display: block;

  }

  &-info {
    max-width: 290px;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(#fff, 0.75);
    white-space: pre-line;
    display: block;
    margin: 0 auto;

    a, b {
      font-weight: 700;
      color: #fff;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .btn-white {
      margin-top: 14px;
    }

    &-item {
      margin-bottom: 10px;

    }

    &-error {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 136%;
      letter-spacing: 0.01em;
      text-align: center;
      color: #fff;
    }

    &-input {
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 12px 20px;
      height: 48px;
      background: transparent;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 17px;
      line-height: 129%;
      color: #fff;
      outline: 0;
      transition: all 0.3s;

      &::placeholder {
        opacity: 0.5;
        color: #fff;
      }

      &.error {
        border: 1px solid #fb5607;
      }
    }
  }
}

.progressbar {
  .stroke-white {
    stroke: rgba(#fff, 0.1)
  }

  .progress-number {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 129%;
    text-align: center;
    color: #fff;
  }

  .progress-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-top: 24px;
  }
}

.slider {
  &-texts{
    max-width: 340px;
    width: 100%;
  }
  &-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

  }
  &-item{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 70px;
    min-height: 390px;
    margin-bottom: 0;
  }
  &-name{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    span{
      font-weight: 500;
    }
  }
  &-icon{
    max-width: 104px;
    width: 100%;
    height: 104px;
    box-shadow: 0 8px 16px 0 rgba(64, 0, 201, 0.08);
    border: 5px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
  }

  &-sub-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 136%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
  }
}

.carousel__pagination{
  --vc-pgn-width: 7.4px;
  --vc-pgn-height: 7.4px;
  --vc-pgn-border-radius: 50%;
  --vc-png-bottom: 56px;
  --vc-pgn-gap: 9px;
  --vc-pgn-background-color:rgba(255,255,255,0.4);
  --vc-pgn-active-color:rgba(255,255,255,1);
  &-button{
    transition: all 0.3s;
  }
}

.link-restore{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #5780ff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
}
.info-page__bottom-text{
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0.01em;
  text-align: center;
  font-weight: 400;
  color: #bbb;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  a{
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-transform: lowercase;
    color: #bbb;
  }
  &.w-full{
    max-width: 320px;
    letter-spacing: 0.01em;
    color: #FFFFFFBF;
  }
}

.price{
  &-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }
  &-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    min-height: 119px;
    &.active{
      position: relative;

      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2.10px solid #ffd048;
        border-radius: 0 0 10px 10px;
        bottom: -2px;
      }
      &:after{
        content: 'SAVE 60%';
        position: absolute;
        width: 100%;
        height: 30px;
        background: #ffd048;
        border-radius: 10px 10px 0 0;
        top: -25px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #1c1d1e;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-number{
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 31px;
      line-height: 108%;
      letter-spacing: -0.03em;
      text-align: center;
      color: #1c1d1e;
    }
    &-text{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #1c1d1e;
    }
    &-del-is {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.02em;
      text-decoration: line-through;
      text-align: center;
      color: #bbb;
    }
    &-is{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #1c1d1e;
      padding-bottom: 6px;
    }
  }
  &-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1c1d1e;
    max-width: 350px;
    width: 100%;
  }
}

.info-page{
  padding-bottom: 72px;
}